<div class="gap-y-8 gap-x-4 grid-cols-1 grid-cols-2 md:gap-x-4 md:grid-cols-1 md:grid-cols-2 md:grid-cols-3 md:grid-cols-4 md:grid-cols-5 md:grid-cols-6 w-slider-1 w-slider-2 md:w-slider-1 md:w-slider-2 md:w-slider-3 md:w-slider-4 md:w-slider-5 md:w-slider-6"></div>
