<div class="flex flex-row">
  <div class="basis-1/4">01</div>
  <div class="basis-1/4">02</div>
  <div class="basis-1/2">03</div>
</div>

<h1 class="text-2xl text-sky-400">Hello</h1>

<div x-data="{open: true}">
  <div x-show="open">
    <p class="bg-gray-400 p-4 my-6 rounded">Goodbye</p>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-collection-rebuild.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.featured-collection-rebuild.presets.name"
    }
  ]
}
{% endschema %}
